.contentportal {
  //display: flex;
  width: 100%;
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 25px;

  //margin-top: 10%;

  background-image: $contentbg;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;


  .content {

    max-height: 500px;
    width: 90%;
    margin: 5%;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    overflow-y: hidden;
  }

  a {
    color:black;
  }

}

.content {
  background: #fff;
  opacity: 90%;
  border-radius: 5px;

  width: 90%;
  margin: 5%;
  //padding-top: 10px;
  padding-bottom: 10px;

  text-align: left;

  h1 {
    text-align: center;
  }

  section {
    width: 90%;
    margin: 5%;
    margin-top: 1%;
    font-size: 16px;
  }
}

.backarrow {
  a {
    color: #000;
  }
}

.post {
  background-image: $contentbg;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  width: 100%;
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 25px;
}