.contentportal {
  display: inline-block;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;

  background-image: $contentbg;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .content {
    max-height: 500px;
    overflow-y: hidden;
  }

  a {
    color:black;
  }

}

.content {

  background-color: rgba(255,255,255,0.75);
  border-radius: 5px;

  width: 90%;
  margin: 75px auto;

  h1 {
    text-align: center;
  }

  section {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
  }
}

.backarrow {
  a {
    color: #000;
  }
  font-size: 1rem;
}

.post {
  background-image: $contentbg;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  width: 100%;
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 25px;
}