.title {
    text-align: center;
}

.door-float {
    float: left;
    width: 40%;
    padding: 5%;

    @media only screen and (max-width: $cut) {
        float: none;
        width: 80%;
    }
};

.portal {
    width: 100%;
    //height: 500px;
    height: 50%;

    img {
        width: 600px;
        height: auto;
        max-width: 100%;
        max-height: auto;
        margin-left: 10%;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    img:hover {
        transform: scale(1.2);
    }

    h2 {
        text-align: center;
    }
}